

.App {
  text-align: center;
  background-color: #0a3013;
  color: white;
  font-family:'sans-serif';
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-main {
  background-color: #0a3013;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #0a3013;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.main-card {
  background-color: #0a3013;
  font-size: calc(5px + 2vmin);
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.card-button-dimensions {
  width: 50%;
}

.card-dimensions {
  min-height: 20vh;
}

.top-nav {
  background-color: #0a3013;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
