

.App {
  text-align: center;
  background-color: #0a3013;
  color: white;
  font-family:'sans-serif';
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-main {
  background-color: #0a3013;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #0a3013;
  
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.main-card {
  background-color: #0a3013;
  font-size: calc(5px + 2vmin);
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.card-button-dimensions {
  width: 50%;
}

.card-dimensions {
  min-height: 20vh;
}

.top-nav {
  background-color: #0a3013;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all {
  .page-break {
    display: none;
    font-size: 2;
  }
}

@media print {
  html, body {
    height: '100%'; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    font-size: 2 !important;
  }
}

@media print {
  .scroll-container {
    overflow: visible;
    height: fit-content;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@media print { body.receipt { width: 58mm } } /* fix for Chrome */

.reset-style, .reset-style * {
  all: revert;
}